[Unit]
Description=Cameo Collaborator publisher
After=syslog.target
After=network.target

[Service]
RestartSec=2s
Type=simple
User=archimedes
Group=archimedes
WorkingDirectory=/opt/amdx/ccpublisher
ExecStart=/opt/amdx/ccpublisher/bin/ccpublisher /opt/amdx/ccpublisher/etc/config.yaml
Restart=always

[Install]
WantedBy=multi-user.target
