[Unit]
Description=Cameo Collaborator publisher
After=syslog.target
After=network.target

[Service]
RestartSec=2s
Type=simple
User=ccpublisher
Group=ccpublisher
WorkingDirectory=/opt/ccpublisher
ExecStart=/opt/ccpublisher/bin/ccpublisher /opt/ccpublisher/etc/config.yaml
Restart=always

[Install]
WantedBy=multi-user.target
